@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body{
  cursor: url("gun.png"), auto;
  margin:0;
  background-image:url('https://png.pngtree.com/thumb_back/fw800/background/20200914/pngtree-black-halloween-blood-background-image_398571.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  padding: 30px;
}

.container{
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'KyoboHandwriting2020A';
  background-color: white;
  min-height: 100vh;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

.task-area{
  border: 1px solid lightgray;
  margin-top: 2em;
}

.task-tabs{
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: center;
  position: relative;
  
}
.task-tabs div{
  padding: 1em;
}

#under-line{
  height: 4px;
  width: 0px;
  background-color: rgb(142, 134, 158);
  position: absolute;
  left: 0px;
  top: 0px;
  padding:0px;
  transition:0.5s;
}

.task{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-done{
  text-decoration: line-through;
}

.task-tabs div{
  cursor: pointer;
}

.hi{
  font-size: 30px;
}

button {
  margin: 20px;
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}


input {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  width: 700px;
}

